<header class="navbar navbar-light bg-light">
    <div>
        <h1>PiQ Share</h1>
        <h5>-Capture your Story</h5>
    </div>
    <div>
        <div>
            <button>Login</button>
            <button>Home</button>
        </div>
</header>