<% include partials/header.ejs %>

<section class="container">
    <form action="/login" method="POST" class="form-horizontal">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <h1>Login to your PiQ Share Account </h1>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="username" placeholder="Username is your email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
</section>


<% include partials/footer.ejs %>