<% include partials/header.ejs %>

<div class="container">
    <% include partials/navbar %>

    <section>
        <div>
            <div>Add a PiQ to your story</div>
            <form action="/usergallery" method="POST">
                <div>
                    <label>Creator</label>
                    <input type="text" name="creator" placeholder="Enter the creator of this PiQ">
                </div>
                <div>
                    <label>PiQ'd on</label>
                    <input type="text" name="date" placeholder="What date was this PiQ, PiQ'd on?">
                </div>
                <div>
                    <label>PiQ URL</label>
                    <input type="text" name="location" placeholder="What's the URL of this PiQ?">
                </div>
                <div>
                    <label>What's the Inspiration?</label>
                    <textarea name="story" placeholder="Document the story or just a few details"></textarea>
                </div>
                <div>
                    <button>Add the PiQ!</button>
                </div>

            </form>

        </div>
    </section>

    <section>
        <button>Back to Gallery</button>
    </section>

    <footer>

    </footer>
</div>


<% include partials/footer.ejs %>