<% include partials/header.ejs %>

<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <h1 class="logo logoMain"><strong>PiQ</strong> Share</h1>
            <h3 class="logo logoSub"> - capture your story</h3>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/usergallery">View Gallery</a></li>
                <li> <a href="/login">Login</a></li>
                <li> <a href="/register">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>

<section class="container">
    <form class="form-horizontal" action="/register" method="POST">
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <h1>Register your PiQ Share Account </h1>
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" name="username" placeholder="Username is your email">
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>
            <div class="col-sm-6">
                <input type="password" class="form-control" name="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
                <button class="btn btn-default">Register</button>
            </div>
        </div>
    </form>
</section>


<% include partials/footer.ejs %>