<% include partials/header.ejs %>

<div class="containier">
    <%include partials/navbar %>

    <section>
        <div>
            <img src="https://images.unsplash.com/photo-1538467801609-6dd5c0a2b3e2?ixlib=rb-0.3.5&s=c177a3dd360f85863a3788ee2ff95e52&auto=format&fit=crop&w=925&q=80">
        </div>
        <div>
            <h6>Creator:</h6>
            <h6>PiQ'd on:</h6>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos consequuntur voluptate sint mollitia
                dolores sit totam nobis voluptatem accusamus nulla, deserunt impedit porro molestiae laudantium ea eos,
                excepturi, cum recusandae!</p>
        </div>
        <div>
            <button>Update PiQ</button>
        </div>
    </section>

    <footer>

    </footer>
</div>


<% include partials/footer.ejs %>