<% include partials/header.ejs %>

<div class="container">
    <header class="navbar navbar-light bg-light">
        <div>
            <h1>PiQ Share</h1>
            <h5>-Capture your Story</h5>
        </div>
        <div>
            <div>
                <button>New PiQ</button>
                <button>Logout</button>
            </div>
    </header>

    <section>
        <% piqs.forEach(function(piq) { %>
        <div id="piq_container">
            <div>
                <img id="piq_img" src="<%= piq.location %> ">
            </div>

            <div>
                <h6>Creator:
                    <%= piq.creator %>
                </h6>
                <a href="/usergallery/<%= piq._id %> ">View PiQ</a>
            </div>
        </div>
        <% }); %>

    </section>



    <footer class="navbar navbar-expand-lg navbar-light bg-light">
    </footer>

</div>

<% include partials/footer.ejs %>