<% include partials/header.ejs %>

<div class="container">
    <header class="navbar navbar-light bg-light">
        <div>
            <h1>PiQ Share</h1>
            <h5>-Capture your Story</h5>
        </div>
        <div>
            <div>
                <button>New PiQ</button>
                <button>Logout</button>
            </div>
    </header>

    <section>
        <div id="piq_container">
            <div>
                <img id="piq_img" src="https://images.unsplash.com/photo-1538467801609-6dd5c0a2b3e2?ixlib=rb-0.3.5&s=c177a3dd360f85863a3788ee2ff95e52&auto=format&fit=crop&w=925&q=80">
            </div>

            <div>
                <h6>Creator:</h6>
                <a>View PiQ</a>
            </div>
        </div>
    </section>

    <footer class="navbar navbar-expand-lg navbar-light bg-light">
    </footer>

</div>

<% include partials/footer.ejs %>