.navbar {
  height: 60px;
  padding-top: 7px;
  box-shadow: 0px 1px 5px grey;
}

.logo {
  font-weight: 300;
  display: inline;
}

.logoSub {
  align-items: center;
}

#daily_img {
  text-align: center;
  margin-top: 20px;
  height: 600px;
}

#dailyImg {
  height: 80%;
  border-radius: 10px;
  margin-top: 40px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.thumbnail {
  border: none;
}

.navbar-brand {
  color: blue;
  font-size: 18px;
}

.form-group .button-display-inline {
  display: inline;
}

footer {
  margin-top: 50px;
}
