/* body {
  background: grey;
} */

#daily_img {
  text-align: center;
  margin-top: 20px;
  height: 600px;
}

#daily_gallery {
  margin-top: 100px;
  height: 600px;
  background-color: aqua;
}

#dailyImg {
  height: 400px;
  border-radius: 50%;
  margin-top: 40px;
}

#piq_img {
  height: 200px;
  width: auto;
}
#piq_container {
  margin: 50px 50px;
  display: inline-block;
}

footer {
  margin-top: 150px;
}
