/* body {
  background: grey;
} */

#daily_img {
  text-align: center;
  margin-top: 20px;
  height: 600px;
}

#daily_gallery {
  margin-top: 100px;
  height: 600px;
  display: inline-block;
}

#dailyImg {
  height: 500px;
  border-radius: 25%;
  margin-top: 40px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.image {
  border-radius: 20px;
}

.thumbnail {
  border: none;
}

.navbar-brand {
  color: blue;
  font-size: 18px;
}

.form-group .button-display-inline {
  display: inline;
}

footer {
  margin-top: 150px;
}
